body{
    margin:0;
    padding:0;
}
header{
    width: 100%;
}

#nav{
    height:25vh; width: 100%
}

#mainlist{
    list-style-type: none;
    margin-left: 1000px;
}

li{
    float: left;
    padding: 5px;
}
 #mg{
     height: 20px;
     width: 20px;
 }

 #google{
     height: 75px;width: 200px;
     margin-left: 400px;
     margin-top: 200px;
 }

 #input{
     margin-left: 500px;
     margin-top: 30px;
     width:500px; height:50px;
     padding-left: 15px;
     font-size: 20px;
     box-sizing: border-box;
     border-radius: 25px;
     background-position: 5px 5px;
 }

 #button{
    width:140px; height:38px;  
    background-color: lightgray;
    border-style: none;
    margin-top: 30px;
 }

 #footer{
     background-color:#f3f3f3;
     height:20px; widows: 1300px;
     padding: 10px;
     margin-top: 50px;
     padding-left: 25px;
 }

 #secondlist{
     background-color: #f3f3f3;
     list-style-type:none;
 }